header {
    background-color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f7931e;
  }
  
  .logo img {
    height: 70px;
    width: auto;
    display: block;
  }

  .libreria {
    text-align: center;
  }
  
  .libreria h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .libreria .libros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .libreria .libro {
    background-color: #d8d5d5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 300px;
  }
  
  .libreria .libro img {
    margin-bottom: 1rem;
  }
  
  .libreria .libro h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .libreria .libro p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
.libreria button{
    background-color: #3d1207;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}
.libreria button:hover{
    background-color: #e43832;
    color: #000;
    font-weight: bold;
}

.selectinput{
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    width: 90%;
    left: 2%;
}

footer {
    background-color: #b10f0f;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 40px 0;
  }
  
  .footer-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-col {
    width: 300px;
    margin: 0 20px;
  }
  
  .footer-col h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  .fa-twitter {
    color: #1da1f2;
  }
  
  .fa-instagram {
    color: #e1306c;
  }


.libro {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

    .libro img {
        max-width: 150px;
        max-height: 200px;
        margin-right: 20px;
    }

    .libro h3, .libro p {
        margin: 0;
    }